.fullSizeContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.centerContainer {
    max-width: 1250px;
    width: 100%;
    padding: 0 15px;
}
a {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}